.home .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-transparent);
    backdrop-filter: blur(0.3rem);
    width: calc(50% - 8rem);
    height: 4rem;
    color: var(--color);
    margin-left: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

.server-status-icon {
    height: 3.3rem;
}

.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.7rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 4rem;
    height: 3rem;
    border-radius: 0.2rem;
}

.player-count {
    font-size: 1.5rem;
    margin: 0.7rem 1rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background: var(--background-transparent);
    backdrop-filter: blur(1rem);
}

.titre-tab-new {
    margin-top: 5%;
    font-size: 2rem;
    font-weight: 900;
    padding: 0.8rem 10%;
    background: var(--background);
    color: var(--color);
}

.news-list {
    width: 90%;
    height: 100%;
    margin: 3rem 0;
}

.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    background: var(--background);
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.news-content .bbWrapper p {
    font-weight: 300;
    margin: 0;
}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 800;
}

/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--background);
}

.player-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 3rem;
    margin: 0 1.5rem;
}

.player-head {
    background: url('../../images/default/setve.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    /* border-radius: 15px; */
}

.player-menu {
    color: var(--element-color);
    transform: rotate(270deg);
    pointer-events: none;
}

.play-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-instance {
    display: flex;
    height: 3.2rem;
    padding-right: 1.9rem;
}

.play-btn {
    border: none;
    background: var(--dark-color);
    color: var(--color);
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: var(--fast-transition);
}

.play-btn:hover{
    background: var(--background-element);
}

.instance-select {
    display: flex;
    align-items: center;
    background: var(--dark-color);
    color: var(--color);
    font-size: 1rem;
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.3rem;
    cursor: pointer;
    transition: var(--fast-transition);
}

.instance-select:hover {
    background: var(--background-element);
}

.instance-select::before {
    width:2rem;
    height:2rem;
}

.info-starting-game {
    display: none;
    text-align: center;
}

.progress-bar {
    appearance: none;
    height: 20px;
    width: 60vw;
    margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--background);
    border: solid 1px var(--background-element);
}

.progress-bar::-webkit-progress-value {
    background-color: var(--background-element);
}

.settings-btn {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    font-weight: 100;
    color: var(--color);
    margin: 0 1.5rem;
    cursor: pointer;
    transition: var(--fast-transition);
}

.settings-btn:hover {
    color: var(--background-element);
}

.instance-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #00000040;
    backdrop-filter: blur(0.6rem);
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances-tab {
    position: relative;
    background: var(--background);
    padding: 1rem 3rem;
}

.close-popup {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background: var(--shadow);
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: var(--fast-transition);
    cursor: pointer;
}
.close-popup:before {
    width: 23px;
    height: 23px
}

.instances-tab p {
    margin-top: 0.4rem;
    font-size: 2rem;
}

.instance-elements {
    background: var(--element-color);
    text-align: center;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: var(--fast-transition);
}

.instance-elements:hover {
    background: var(--background-element);
}

.active-instance {
    background: var(--background-element);
    transition: var(--fast-transition);
}