.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    text-align: center;
    min-width: 40%;
}

.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.connect,
.cancel {
    background: none;
    color: var(--color);
    border: solid 2px var(--element-color);
    padding: 0.5rem 4rem;
    font-size: inherit;
    font-weight: 700;
    width: 300px;
    cursor: pointer;
    transition: all 0.1s;
}
.connect:hover,
.cancel:hover {
    border-color: var(--second-color);
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    width: 50%;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
}