.settings .container {
    display: flex;
    height: 100%;
    font-family: 'Archivo';
}

.nav-settings {
    width: 25%;
    height: 100%;
    background: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
}

.nav-settings p {
    font-size: 70%;
    margin-top: 80px;
}

.nav-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.nav-box #save {
    border: solid 1px var(--background-element);
    margin: 3rem;
}

.nav-box #save:hover {
    border: solid 1px var(--dark-color);
}

.nav-settings-btn {
    font-size: 50%;
    border: solid 1px var(--background-element);
    transition: var(--fast-transition);
    padding: 10px 10px;
    width: 70%;
    text-align: center;
    margin: 0.5rem 0;
    cursor: pointer;
}

.nav-settings-btn:hover{
    background: var(--dark-color);
    border: solid 1px var(--dark-color);
}

.active-settings-BTN {
    background: var(--background-element);
}

.container-settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    width: 75%;
    height: calc(100% - 26px);
    opacity: 0;
    pointer-events: none;

}

.settings-elements-box {
    background: var(--background-transparent);
    backdrop-filter: blur(0.5rem);
    width: 80%;
    padding: 1.5rem 2rem;
    margin: 0.5rem;
}

.setting-text {
    font-size: 0.8rem;
    font-weight: 100;
}

.active-container-settings {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.titre-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1.5rem 0;
    padding: 0.5rem 2rem;
    text-align: center;
    background: var(--background-transparent);
    backdrop-filter: blur(1rem);
    color: var(--color);
}

.settings-elements {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.content-center {
    justify-content: center;
}

.content-evenly {
    justify-content: space-evenly;
}

/*******************************************************************************
 *                                                                             *
 * account tab                                                                 *
 *                                                                             *
 ******************************************************************************/
.accounts-list {
    max-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.account {
    background: var(--background-transparent);
    backdrop-filter: blur(0.5rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(400px - 8px);
    height: calc(100px - 8px);
    margin: 1rem;
}

.account-select {
    border: solid 1.5px var(--color);
}

.accounts-list #add {
    justify-content: center;
    cursor: pointer;
}

.add-profile {
    width: 70px;
    height: 70px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.icon-account-add{
    width:70%;
    height:70%;
    margin-right:30%;
}

.add-text-profile {
    font-size: 1.5rem;
    pointer-events: none;
}

.profile-image {
    width: 65px;
    height: 65px;
    background: url(../../images/default/setve.png);
    background-size: cover;
    pointer-events: none;
    image-rendering: pixelated;
}

.profile-infos {
    text-align: center;
    width: 10rem;
    pointer-events: none;
}

.profile-pseudo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
    pointer-events: none;
}

.profile-uuid {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 100;
    white-space: nowrap;
    pointer-events: none;
}

.account-actions {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.copy-id {
    background: var(--background-transparent);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 2.3rem;
    cursor: pointer;
}

.copy-id-icon {
    pointer-events: none;
    width:40%;
    height:70%;
}

.delete-profile {
    width: 70px;
    height: 2.3rem;
    background: var(--background-transparent);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff2c2c;
    cursor: pointer;
}

.delete-profile-icon {
    pointer-events: none;
    width:40%;
    height:80%;
}

/*******************************************************************************
 *                                                                             *
 * java tab                                                                    *
 *                                                                             *
 ******************************************************************************/

.memory-slider {
    position: relative;
    margin: 0 1.5rem 0 0;
    height: 18px;
    width: 50%;
    user-select: none;
}

.slider-touch-left,
.slider-touch-right {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    z-index: 2;
}

.slider-touch-left span,
.slider-touch-right span {
    display: block;
    width: 20px;
    height: 10px;
    background: var(--color);
    border: 3px solid var(--background-element);
    transition: background-color .2s, border .2s;
    border-radius: 0.45rem;
    cursor: pointer;
}

.slider-touch-left span:after,
.slider-touch-right span:after {
    content: attr(value);
    color: var(--element-color);
    font: normal normal bold 12px/18px Archivo;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    top: -20px;
    left: 70%;
    transform: translate(-50%);
}

.slider-line {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 18px);
    left: 9px;
    top: 7px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--light-color);
    transition: background-color .2s;
    z-index: 0;
    overflow: hidden;
}

.slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background: var(--background-element);
    transition: background-color .2s;
}

.ram-info-block {
    font-size: 0.9rem;
    font-weight: 200;
    color: var(--color);
}

.java-path-input-text {
    background: var(--shadow);
    border: none;
    color: var(--color);
    padding: 0.8rem 1rem;
    width: 20rem;
}

.java-path-input-file {
    display: none;
}

.java-path-box {
    display: flex;
    align-items: center;
}

.java-path-btn {
    padding: 0.7rem 2rem;
    width: max-content;
    background: var(--background-element);
    margin: 0 1rem;
    cursor: pointer;
}

/*******************************************************************************
 *                                                                             *
 * resolution tab                                                              *
 *                                                                             *
 ******************************************************************************/
.input-size-element {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.input-resolution {
    background: var(--shadow);
    border: none;
    color: var(--color);
    padding: 0.8rem 2rem;
    text-align: center;
    width: 6rem;
}

.size-cross{
    scale: 0.6;
    margin: 0 0.5rem;
}

.size-cross:before {
    font: normal normal bold 20px Icons;
    content: "\e90e";
}

.size-btn {
    padding: 0.7rem 2rem;
    background: var(--background-element);
    margin: 0 4rem;
    cursor: pointer;
}

/*******************************************************************************
 *                                                                             *
 * Launcher tab                                                                *
 *                                                                             *
 ******************************************************************************/

.input-max-files {
    background: var(--shadow);
    border: none;
    color: var(--color);
    padding: 0.8rem 1rem;
    text-align: center;
    width: 2.5rem;
    margin-left: 6.2rem;
    margin-right: 0.4rem;
}

.max-files-btn {
    padding: 0.7rem 2rem;
    background: var(--background-element);
    margin: 0 4rem;
    cursor: pointer;
}

.theme-btn {
    margin: 0 1rem;
    padding: calc(0.1rem + 4px) calc(1.5rem + 4px);
    cursor: pointer;
}

.theme-btn-clair {
    padding: 0.7rem 2rem;
    background: var(--light-color);
    color: var(--dark-color);
}

.theme-btn-sombre {
    padding: 0.7rem 2rem;
    background: var(--dark-color);
    color: var(--light-color);
}

.theme-btn-auto {
    padding: 0.7rem 2rem;
    margin-left: 10vw;
    background: var(--background-element);
    color: var(--color);
}

.active-theme {
    border: 1px solid var(--color);
}

.close-btn {
    font-size: 0.95rem;
    width: 200px;
    height: 2rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.active-close {
    background: var(--background-element);
}