/* Archivo */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 125%;
  font-display: swap;
  src:
    local('Archivo'),
    url('../fonts/Archivo-VariableFont_wdth-wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 62.5% 125%;
  font-display: swap;
  src:
    local('Archivo Italic'),
    url('../fonts/Archivo-Italic-VariableFont_wdth-wght.woff2') format('woff2');
}

/* Icons */

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    /*width: 1em; */
    width: 100%; 
    height: 100%;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-size:contain;
}

.icon-close:before { content: ""; background-image: url("../icons/close.svg"); }
.icon-minimize:before { content: ""; background-image: url("../icons/minimize.svg"); }
.icon-maximize:before { content: ""; background-image: url("../icons/fullscreen.svg"); }
.icon-restore-down:before { content: ""; background-image: url("../icons/close_fullscreen.svg"); }
.icon-account-add:before { content: ""; background-image: url("../icons/person_add.svg"); }
.icon-account-delete:before { content: ""; background-image: url("../icons/person_remove.svg"); filter: invert(42%) sepia(52%) saturate(4648%) hue-rotate(339deg) brightness(95%) contrast(113%);}
.icon-account-copy:before { content: ""; background-image: url("../icons/content_copy.svg"); }
.icon-settings:before { content: ""; background-image: url("../icons/settings.svg"); }
.icon-monitor:before { content: ""; background-image: url("../icons/monitor.svg"); }
.icon-arrow:before { content: ""; background-image: url("../icons/double_arrow.svg"); }

.icon-discord { background-image: url('../images/svgs/discord.svg'); background-size: contain; }
.icon-facebook { background-image: url('../images/svgs/facebook.svg'); background-size: contain; }
.icon-github { background-image: url('../images/svgs/github.svg'); background-size: contain; }
.icon-instagram { background-image: url('../images/svgs/instagram.svg'); background-size: contain; }
.icon-reddit { background-image: url('../images/svgs/reddit.svg'); background-size: contain; }
.icon-telegram { background-image: url('../images/svgs/telegram.svg'); background-size: contain; }
.icon-twitch { background-image: url('../images/svgs/twitch.svg'); background-size: contain; }
.icon-twitter { background-image: url('../images/svgs/twitter.svg'); background-size: contain; }
.icon-youtube { background-image: url('../images/svgs/youtube.svg'); background-size: contain; } 
.icon-tiktok { background-image: url('../images/svgs/tiktok.svg'); background-size: contain; }
.icon-web { background-image: url('../images/svgs/web.svg'); background-size: contain; }