@import 'font.css';
@import 'theme.css';
@import 'panels/login.css';
@import 'panels/home.css';
@import 'panels/settings.css';

body {
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--color);
    font-family: 'Archivo';
    font-weight: bolder;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

* {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-scroll {
    overflow: auto;
}

.content-scroll::-webkit-scrollbar {
    width: 0;
}

.dragbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    -webkit-app-region: drag;
    z-index: 11;
}

.darwin .frame {
    background: transparent;
    position: fixed;
    top: 0px;
    z-index: 11;
    -webkit-app-region: no-drag;
    display: none;
}

.other .frame {
    background: transparent;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 11;
    -webkit-app-region: no-drag;
    display: none;
}

.frame.hide {
    display: block;
}

.darwin .button-frame {
    position: relative;
    display: table-cell;
    width: 20px;
    height: 28px;
    transition: color .2s, background-color .2s;
}

.other .button-frame {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 30px;
    transition: color .2s, background-color .2s;
    color: black;
    cursor: pointer;
}

.button-frame:before {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-size: 20px;
    color: #f8f9f9;
}

.darwin-icon-minimize,
.darwin-icon-maximize,
.darwin-icon-close {
    position: relative;
}

.darwin-icon-minimize:before,
.darwin-icon-maximize:before,
.darwin-icon-close:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.darwin-icon-maximize:before {
    background: #07d014;
}

.darwin-icon-minimize:before {
    background: #ffbd2e;
}

.darwin-icon-close:before {
    background: #ff6047;
}

.icon-close:hover {
    background: #e21212;
}

.icon-minimize:hover,
.icon-restore-down:hover,
.icon-maximize:hover {
    background-color: #0000009d;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-tab {
    width: 40%;
    padding: 15px;
    background: var(--background);
    font-weight: 600;
    font-size: 1.1rem;
    z-index: 10;
}

.popup-title {
    display: flex;
    align-items: left;
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
    border-bottom: solid 1px var(--color);
    margin-bottom: 1rem;
    height: 2.6rem;
}

.popup-options {
    display: none;
    align-items: end;
    flex-direction: column;
}

.popup-button {
    background: var(--background-element);
    border: none;
    color: var(--color);
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: 800;
    margin: 15px 10px;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.active {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}