:root {
    --element-color: #3a1ad0;
    --second-color: #2b12a0;
    --color: #F0F1F8;
    --background: #0d0e0f;
    --background-element: #141517;
    --background-transparent: #0d0e0fbd;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}