.global {
    --element-color: rgb(99 82 241);
    --transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    --fast-transition: all 0.2s cubic-bezier(0, 0, 0, 1);
    --dark-color: #323232;
    --light-color: rgb(220 220 220);
}

.dark {
    --color: #ffffff;
    --background: #000000;
    --background-element: rgb(49 35 255);
    --background-transparent: #00000080;
    --shadow: rgba(25, 25, 25, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
}

.light {
    --color: #151515;
    --background: rgb(245, 245, 245);
    --background-element: #1000ff;
    --background-transparent: rgba(204, 204, 204, 0.8);
    --shadow: rgba(208, 208, 208, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}